<!DOCTYPE html>
<html>

<head>
    <header>arbitrage</header>
</head>

<body>
    <p>the results of the arbitrage filter</p>
    <form method="POST" action="/arbitrage" enctype="multipart/form-data">
        <input type="int" name="min_Return" placeholder="min_Return" value="{{min_return}}">
        <input type="int" name="min_days_to_mature" placeholder="min_days_to_mature" value="{{min_days_to_mature}}">
        <input type="int" name="min_ROI" placeholder="min_ROI" value="{{min_ROI}}">
        <input type="submit" value="arbitrage">
    </form>

    <p>
        current config:
    </p>
    <p>min retrun = {{min_return}}</p>
    <p>min days to mature = {{min_days_to_mature}}</p>
    <p>min ROI = {{min_ROI}}</p>
    <table>
        <tr>
            <th>profit</th>
            <th>roi</th>
            <th>days to mature</th>
            <th>call option</th>
            <th>call price</th>
            <th>put option</th>
            <th>put price</th>
            <th>ua price</th>
        </tr>
        {% for result in results: %}
        <tr>
            <td>{{result["profit"]}}</td>
            <td>{{result["roi"]}}</td>
            <td>{{result["mature"]}}</td>
            <td>{{result["call_name"]}}</td>
            <td>{{result["call_price"]}}</td>
            <td>{{result["put_name"]}}</td>
            <td>{{result["put_price"]}}</td>
            <td>{{result["ua_price"]}}</td>
        </tr>
        {%endfor%}
    </table>
</body>

</html>