<!DOCTYPE html>


<html>

<head>
    <header>covered_call</header>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: center;
            padding: 8px;
        }

        th {
            background-color: #e450c4;
        }

        tr:nth-child(even) {
            background-color: #889797;
        }
    </style>
</head>

<body>
    <p>the results of the covered call filter</p>
    <form method="POST" action="/covered_call" enctype="multipart/form-data">
        <input type="int" name="cc_max_risk" placeholder="max_risk" value="{{max_risk}}">
        <input type="int" name="cc_min_days_to_mature" placeholder="min_days_to_mature" value="{{min_days_to_mature}}">
        <input type="int" name="cc_min_ROI" placeholder="min_ROI" value="{{min_ROI}}">
        <input type="submit" value="covered_call">
    </form>

    <p>
        current config:
    </p>
    <p>max risk = {{max_risk}}</p>
    <p>min days to mature = {{min_days_to_mature}}</p>
    <p>min ROI = {{min_ROI}}</p>
    <table>
        <tr>
            <th>max risk</th>
            <th>roi</th>
            <th>days to mature</th>
            <th>call option</th>
            <th>call price</th>
            <th>ua price</th>
        </tr>
        {% for result in results: %}
        <tr>
            <td>{{result["max_risk"]}}</td>
            <td>{{result["roi"]}}</td>
            <td>{{result["mature"]}}</td>
            <td>{{result["call_name"]}}</td>
            <td>{{result["call_price"]}}</td>
            <td>{{result["ua_price"]}}</td>
        </tr>
        {%endfor%}
    </table>
</body>

</html>