<!DOCTYPE html>


<html>

<head>
    <header>positions</header>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: center;
            padding: 8px;
        }

        th {
            background-color: #e450c4;
        }

        tr:nth-child(even) {
            background-color: #cbf5f5;
        }
    </style>
</head>

<body>
    <p>add position</p>
    <form method="POST" action="/add_covered_call_position" enctype="multipart/form-data">
        <input type="str" name="cc_call_name" placeholder="call_name">
        <input type="int" name="cc_volume" placeholder="volume">
        <input type="int" name="cc_ua_price" placeholder="ua_price">
        <input type="int" name="cc_call_price" placeholder="call_price">
        <input type="int" name="cc_days_to_mature" placeholder="days_to_mature">
        <input type="submit" value="add_covered_call">
        <br>
        <br>
    </form>
    <form method="POST" action="/save_portfolio" enctype="multipart/form-data">
        <input type="submit" value="save_portfollio">
    </form>
    <br>
    <br>
    <form method="POST" action="/load_portfolio" enctype="multipart/form-data">
        <input type="submit" value="load_portfolio">
    </form>


    <p>current positions:</p>
    <p>covered calls:</p>
    <table>
        <tr>
            <th>call name</th>
            <th>volume</th>
            <th>ex days mature</th>
            <th>ex till loss</th>
            <th>ex ROI</th>
            <th>days mature</th>
            <th>ua price</th>
            <th>call price</th>
            <th>taken profit</th>
            <th>taken ROI</th>
            <th>till loss</th>
            <th>ROI</th>
        </tr>
        {% for result in results[0]: %}
        <tr>
            <td>{{result["call_name"]}}</td>
            <td>{{result["volume"]}}</td>
            <td>{{result["ex_days_to_mature"]}}</td>
            <td>{{result["ex_till_loss"]}}</td>
            <td>{{result["ex_ROI"]}}</td>
            <td>{{result["days_to_mature"]}}</td>
            <td>{{result["ua_price"]}}</td>
            <td>{{result["call_price"]}}</td>
            <td>{{result["taken_profit"]}}</td>
            <td>{{result["taken_ROI"]}}</td>
            <td>{{result["till_loss"]}}</td>
            <td>{{result["new_ROI"]}}</td>
        </tr>
        {%endfor%}
    </table>
</body>

</html>